@import url('https://fonts.googleapis.com/css?family=Overpass:300,700&display=swap');

*{
  /* border:1px solid; */
  font-family: Overpass;
}

.navbar {
  margin: 0 5em 0 5em;
  padding-top: 2em;
}

.header{
  background-image: url('blogr/images/bg-pattern-intro.svg');
  background-size: 100em;
  background-position: -40% 50%;
  background-color: #fc846c ;
  height: 30em;
  position: relative;
  border-radius: 0 0 0 5em ;
}

#blogr {
  font-size: 24px;
  font-weight: bolder;
}

.white {
  color:white;
}

.button {
  border-radius: 1em;
  color: white;
  background: #fc846c;
  border: 1px solid white;
  width: 7em;
  height: 2em;
}

.section1 {
  width:50em;
  text-align: center;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

}

#paragraph1 {
  font-size: 2.5em;
}

.white {
  color:white;
}

.buttons {
  margin-top:10px;
}

.section2 {
  height:35em;
  background-image: url('blogr/images/ill-desktop.svg');
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 130% 0%;
  margin-left: 4em;
}

.section2-heading {
  text-align: center;
  margin-top: 5em;
}

.heading {
  font-size: 1.5em;
  font-weight:bold;
}

.blue{
  color: hsl(208, 49%, 24%)
}

.section2-content{
  width:50%;
  margin-top: 2em;
}

.section2-text-heading{
  margin-top: 2em;
  font-size: 1.2em;
  font-weight: bold;
}

.section2-text-content{
  margin-top: 1em;
  font-size: 12px;
}

.section3 {
  position: relative;
  height:15em;
  background-color: #3c3c64;
  background-image: url('blogr/images/bg-pattern-circles.svg');
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: -20% 100%;
  padding-right: 4em;
  border-radius: 0 5em 0 5em;
}

.section3-content {
  position: absolute;
  width:400px;
  top: 50%;
  left: 50%;
  transform: translate(-0%, -50%);
}

.phones{
height:400px;
transform:translate(2em, -2.5em);
}


.section4 {
  height:30em;
  position: relative;
  background-image: url('blogr/images/ill-laptop-desktop.svg');
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: -20% 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer {
  height:15em;
  padding-top: 2em;
  background-color: hsl(240, 10%, 16%);
  border-radius: 0 3.5em 0 0;
}

a {
  color:white;
}

.spanspace {
  margin-left: 10px;
}

.spanspacemore {
  margin-left: 30px;
}

.buttonwhite{
  background-color: white;
  color:#fc846c;
}

.smallerfont {
  font-size: 14px;
}