* {
  border: 1px solid;
}

body {
  font-family: Overpass;
  margin: 0;
}

.top {
  background-color: #fc846c;
  height: 30em;
  border-radius: 0 0 0 50px;
  position:relative;
}

.topnav {
  margin: 0 4em 20px 4em;
  padding-top: 2em;
}

.topnav a {
color: white;
text-align: center;
padding: 14px 10px 16px 10px;
font-size: 14px;
text-decoration: none;
}
#blogr {
  font-size: 1.7em;
  font-weight: 700;
}
.middle {
  height:40em;
  background-image: url('blogr/images/ill-desktop.svg');
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 130% 0%;
}

.right {
  float: right !important;
}

.button {
  background-color: white;
  text-align: center;
  padding: 15px 32px;
  margin: 4px 2px;
  border-radius: 20px;
  color: #fc846c;
  border: 0px;
}

.paragraph {
  text-align: center;
  font-size: 2em;
  color: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
#paragraph1 {
  font-weight:bold;
}
#paragraph2 {
  font-size: 14px;
}

#button {
  background-color: #fc846c;
  color: white;
  border-color: white;
  border: 1px solid white;
}

#button:hover {
  color:black;
}

.first_paragraph {
  width:400px;
  margin:40px;
  transform: translateY(10%) ;
  /* display: inline-block; */
}

.button:hover {
  color:black;
}

.middle2 {
  background-color: #3c3c64;
  height: 20em;
  border-radius: 0 5em 0 5em;
  color: white;
  position: relative;
}

.paragraph3 {
  font-size: 2em;
  top: 50%;
  left: 50%;
  transform: translate(40%, 80%);
}

#paragraph4 {
  width: 400px;
  font-size: 14px;
  float: left;
}

.bluetext {
  color: hsl(208, 49%, 24%)
}

.bottom {
  height:40em;
}
